html,
body {

  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  padding: 50px 0;
}

header {

  width: 1920px;
  height: 900px;
}



.planet {


  position: absolute;

}

#background {
  background-image: url(../img/5/3F_05_.png);
  background-repeat: no-repeat;
  bottom: -17%;
  left: 0%;
  position: absolute;
  right: -10%;
  top: 37%;
  z-index: 100;
}



#planet-1 {
  margin: -233px 0 0 -116px;
  bottom: -46%;
  left: 23%;
  right: -24%;
  top: 27%;
  height: 933px;
  width: 100%;
  background-image: url(../img/5/3F_05.png);
  background-repeat: no-repeat;
  z-index: 20;
}

#planet-2 {
  height: 100%;
  width: 100%;
  margin: -247px 0 0 -198px;
  bottom: 1%;
  left: 32%;
  right: 0%;
  top: 56%;
  background-image: url(../img/5/Vector_Smart_Object.svg);
  background-repeat: no-repeat;
  z-index: 10;
}
@media screen and (max-width: 1600px) {
  header {

    width: 1600px;
    height: 759px;
  }

  .planet {
    position: absolute;
  }

  #background {
    bottom: -13%;
    left: -159px;
    position: absolute;
    right: -10%;
    top: 316px;
    z-index: 100;
}


#planet-1 {
  margin: -233px 0 0 -116px;
  bottom: -41%;
  left: 18%;
  right: -24%;
  top: 32%;
  height: 933px;
  width: 100%;
  z-index: 20;
}

#planet-2 {
  margin: -247px 0 0 -198px;
  bottom: -1%;
  left: 448px;
  right: 4%;
  top: 511px;
  z-index: 10;
}
}