html,
body {

  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  padding: 50px 0;
}

header {

  width: 1920px;
  height: 900px;
}



.planet {


  position: absolute;

}

#background {
  background-image: url(../img/7/3F_07_.png);
  background-repeat: no-repeat;
  bottom: -24%;
  left: 0%;
  position: absolute;
  right: -10%;
  top: 0%;
  z-index: 100;
}



#planet-1 {
  margin: -233px 0 0 -116px;
  bottom: -41%;
  left: 44%;
  right: -24%;
  top: 29%;
  height: 933px;
  width: 100%;
  background-image: url(../img/7/3F_07.png);
  background-repeat: no-repeat;
  z-index: 20;
}


#planet-2 {
  height: 100%;
  width: 100%;
  margin: -247px 0 0 -198px;
  bottom: 0%;
  left: 53%;
  right: 0%;
  top: 57%;
  background-image: url(../img/7/Vector_Smart_Object.svg);
  background-repeat: no-repeat;
  z-index: 10;
}


@media screen and (max-width: 1600px) {
  header {

    width: 1600px;
    height: 759px;
  }


  #background {
    bottom: -17%;
    left: -10%;
    position: absolute;
    right: -8%;
    top: 0%;
    z-index: 100;
}

#planet-1 {
  margin: -233px 0 0 -116px;
  bottom: -41%;
  left: 43%;
  right: -24%;
  top: 34%;
  height: 933px;
  width: 100%;
  z-index: 20;
}

#planet-2 {
  margin: -247px 0 0 -198px;
  left: 856px;
  top: 511px;
  z-index: 10;
}
}